<%- include('./parts/top.ejs')%>
<br>
<br>
<br>
<br>
<br>
<div class="container">
    <div class="row">
      <div class="col">
        <img height="400px" src="uploads/holly-black.jpg" alt="">
      </div>
      <div class="col">
        <h1>Book of night</h1><h4>Holly Black</h4>
        <span>$30</span>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. 
          Cum mollitia, minima numquam dicta ipsa temporibus at adipisci dolore accusamus 
          quaerat quae, assumenda magnam, doloribus nostrum! Iste at mollitia et totam.</p>

      </div>
    </div>
</div>
  
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>


<%- include('./parts/bottom.ejs')%>